body{
    background-color: #313131;

    font-size: 14px;
    font-family: "Helvetica", serif;
} 

.card {
    border-width: 2px;
    border-color: #6d6d6d;
    border-radius: 10px;

    font-size: 14px;
    font-family: "Calibri", serif;
}
